﻿@model StokSistemiProje.Areas.Admin.Models.HomeVeriler
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content container-fluid">
<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="widget widget-tile">
            <div id="spark1" class="chart sparkline"></div>
            <div class="data-info">
                <div class="desc">@Resources.Home.personelsayisi</div>
                <div class="value">

                    <span data-toggle="counter" data-end="@Model.personel_sayi" class="number">@ViewBag.Personel</span>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="widget widget-tile">
            <div id="spark2" class="chart sparkline"></div>
            <div class="data-info">
                <div class="desc">@Resources.Home.musterisayisi</div>
                <div class="value">

                    <span data-toggle="counter" data-end="@Model.musteri_sayi" class="number">0</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="widget widget-tile">
            <div id="spark3" class="chart sparkline"></div>
            <div class="data-info">
                <div class="desc">@Resources.Home.tedarikcisayi</div>
                <div class="value">
                    <span data-toggle="counter" data-end="5" class="number">0</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="widget widget-tile">
            <div id="spark4" class="chart sparkline"></div>
            <div class="data-info">
                <div class="desc">@Resources.Home.toplamurun</div>
                <div class="value">
                    <span data-toggle="counter" data-end="@Model.toplam_urun" class="number">0</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default panel-table">
            <div class="panel-heading">

                <div class="title">@Resources.Home.sonsatişlar</div>
            </div>
            <div class="panel-body table-responsive">
                <table class="table table-striped table-borderless">
                    <thead>
                        <tr>
                            <th style="width:40%;">@Resources.Home.urun</th>
                            <th class="number">@Resources.Home.fiyat</th>
                            <th style="width:20%;">@Resources.Home.tarih</th>
                            <th style="width:20%;">@Resources.Home.kategori</th>
                            <th style="width:5%;" class="actions"></th>
                        </tr>
                    </thead>
                    <tbody class="no-border-x">


                        <tr>
                            <td>Laptop Çantası 17.3</td>
                            <td class="number">₺ 120</td>
                            <td>Aug 13, 2016</td>
                            <td class="text-muted ">Bilgisayar Çantası</td>
                            <td class="actions"><a href="#" class="icon"><i class="mdi mdi-plus-circle-o"></i></a></td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default panel-table">
            <div class="panel-heading">

                <div class="title">@Resources.Home.sonkayitlimusteri</div>
            </div>
            <div class="panel-body table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th style="width:35%;">Kullanıcı </th>
                            <th style="width:25%;">Telefon</th>
                            <th style="width:25%;">Email</th>
                            <th style="width:25%;">Kayıt Tarihi</th>
                            <th class="actions"></th>
                        </tr>
                    </thead>
                    <tbody>



                        <tr>
                            <td class="user-avatar"> <img src="~/Content/assets/img/avatar5.png" alt="Avatar">Furkan Alaybeg</td>
                            <td>05301256565</td>
                            <td>onur@ironsoft.com</td>
                            <td>5 Ekim 2016</td>
                        </tr>




                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-md-4">
    <div class="widget be-loading">
        <div class="widget-head">
            <div class="tools"><span class="icon mdi mdi-chevron-down"></span><span class="icon mdi mdi-refresh-sync toggle-loading"></span><span class="icon mdi mdi-close"></span></div>
            <div class="title">@Resources.Home.encoksatilan</div>
        </div>
        <div class="widget-chart-container">
            <img src="~/Content/assets/img/iphone7.jpg">
        </div>
        <div class="chart-legend">
            <table>



                <tr>
                    <td class="chart-legend-color"><span data-color="top-sales-color1"></span></td>
                    <td>iPhone 7</td>
                    <td class="chart-legend-value">125</td>
                </tr>



            </table>
        </div>
        <div class="be-spinner">
            <svg width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle fill="none" stroke-width="4" stroke-linecap="round" cx="33" cy="33" r="30" class="circle"></circle>
            </svg>
        </div>
    </div>
</div>

<div class="col-xs-12 col-md-4">
    <div class="widget be-loading">
        <div class="widget-head">
            <div class="tools"><span class="icon mdi mdi-chevron-down"></span><span class="icon mdi mdi-refresh-sync toggle-loading"></span><span class="icon mdi mdi-close"></span></div>
            <div class="title">@Resources.Home.enazstok</div>
        </div>
        <div class="widget-chart-container">
            <img src="~/Content/assets/img/hdd.jpg">
        </div>
        <div class="chart-legend">
            <table>
                <tbody>


                    <tr>
                        <td class="chart-legend-color"><span data-color="top-sales-color3"></span></td>
                        <td>HDD WD 1 TB</td>
                        <td class="chart-legend-value">1</td>
                    </tr>




                </tbody>
            </table>
        </div>
        <div class="be-spinner">
            <svg width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle fill="none" stroke-width="4" stroke-linecap="round" cx="33" cy="33" r="30" class="circle"></circle>
            </svg>
        </div>
    </div>
</div>

