﻿<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/Areas/Admin/ContentContent/assets/img/logo-fav.png">
    <title>Stok Yönetim Sistemi</title>
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/assets/lib/perfect-scrollbar/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/assets/lib/material-design-icons/css/material-design-iconic-font.min.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/assets/lib/jquery.vectormap/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/assets/lib/jqvmap/jqvmap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/assets/lib/datetimepicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="~/Areas/Admin/Content/assets/css/style.css" type="text/css">



    <style type="text/css">
        .jqstooltip {
            position: absolute;
            left: 0px;
            top: 0px;
            visibility: hidden;
            background: rgb(0, 0, 0) transparent;
            background-color: rgba(0,0,0,0.6);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            color: white;
            font: 10px arial, san serif;
            text-align: left;
            white-space: nowrap;
            padding: 5px;
            border: 1px solid white;
            box-sizing: content-box;
            z-index: 10000;
        }

        .jqsfield {
            color: white;
            font: 10px arial, san serif;
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="be-wrapper be-fixed-sidebar">
        <nav class="navbar navbar-default navbar-fixed-top be-top-header">
            <div class="container-fluid">

                <div class="navbar-header"><a href=@Url.Action("Index", "Home") class="navbar-brand"></a></div>
                <div class="be-right-navbar">
                    <ul class="nav navbar-nav navbar-right be-user-nav">
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"><img src="~/Areas/Admin/Content/assets/img/avatar3.png" alt="Avatar"><span class="user-name">Furkan Alaybeg </span></a>
                            <ul role="menu" class="dropdown-menu">
                                <li>
                                    <div class="user-info">
                                        <div class="user-name">Furkan Alaybeg</div>
                                        <div class="user-position online">Online</div>
                                    </div>
                                </li>
                                <li><a href="#"><span class="icon mdi mdi-card"></span>@Resources.Home.hesabim</a></li>
                                <li><a href="#"><span class="icon mdi mdi-power"></span> @Resources.Home.cikis</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="page-title" style="font-size: 23px"><span>@Resources.Home.stokyonetimi</span></div>
                    <ul class="nav navbar-nav navbar-right be-icons-nav">
                        @Html.Partial("_LoginPartial")
                        <li class="dropdown dropdown-small">


                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" aria-expanded="false"><i class="icon mdi mdi-flag "></i><span class="value">&nbsp Dil <i class="fa fa-angle-down"></i></span></a>
                            <ul class="dropdown-menu fadeIn animated">

                                <li>

                                    @Html.ActionLink("TR", "Index", new { lang = "tr", returnurl = this.Request.RawUrl })
                                </li>
                                <li>
                                    @Html.ActionLink("EN", "Index", new { lang = "en", returnurl = this.Request.RawUrl })
                                </li>


                            </ul>

                        </li>

                        <li class="dropdown" style="margin-top: 15px">
                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"><span class="icon mdi mdi-apps" style="margin-top: 3px"></span></a>
                            <ul class="dropdown-menu be-connections">
                                <li>
                                    <div class="list">
                                        <div class="content">
                                            <div class="row">
                                                <div class="col-xs-4"><a href="https://www.facebook.com/" class="connection-item"><img src="~/Areas/Admin/Content/assets/img/facebook.png" alt="Github"><span>Facebook</span></a></div>
                                                <div class="col-xs-4"><a href="https://twitter.com/?lang=tr" class="connection-item"><img src="~/Areas/Admin/Content/assets/img/twitter.jpg" alt="Bitbucket"><span>Twitter</span></a></div>
                                                <div class="col-xs-4"><a href="https://www.dropbox.com" class="connection-item"><img src="~/Areas/Admin/Content/assets/img/dropbox.png" alt="Dropbox"><span>DropBox</span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>


                    </ul>
                    @*
                        <ul class="nav navbar-nav navbar-right be-user-nav">
                            @Html.Partial("_LoginPartial")

                            <li>@Html.ActionLink("English", "Change", "Language", new { LanguageAbbrevation = "en" }, null)</li>
                            <li>@Html.ActionLink("Françe", "Change", "Language", new { LanguageAbbrevation = "tr" }, null)</li>


                                 <li> <img src="~/Areas/Admin/Content/assets/img/turkiye.png" width="35" height="30" style="margin-top: 15px"></li>
                                 <li><img src="~/Areas/Admin/Content/assets/img/ingiltere.png" width="35" height="30" style="margin-top: 15px"></li>



                                        </ul>*@

                </div>
            </div>
        </nav>
        <div class="be-left-sidebar">
            <div class="left-sidebar-wrapper">
                <a href="#" class="left-sidebar-toggle">Ana Sayfa</a>
                <div class="left-sidebar-spacer">
                    <div class="left-sidebar-scroll ps-container ps-theme-default" data-ps-id="802bfcff-87e0-0ebd-874d-ebc74fa91ab4">
                        <div class="left-sidebar-content">
                            <ul class="sidebar-elements">
                                <li class="divider">Menu</li>
                                <li class="active">

                                <li class="active">
                                    <a href=@Url.Action("Index","Home")><i class="icon mdi mdi-home"></i><span>@Resources.Home.anasayfa</span></a>
                                </li>


                                <li class="parent">
                                    <a href="charts.html"><i class="icon mdi mdi-account"></i><span>@Resources.Home.personelyonetimi</span></a>
                                    <ul class="sub-menu">
                                        @*<li>
                                                <a href="personel-kayit.html" style="font-size: 14px">Yeni Personel</a>
                                            </li> *@
                                        <li>
                                            @Html.ActionLink("Yeni Personel", "YeniPersonel", "Personel")

                                        </li>
                                        <li>
                                            @Html.ActionLink("Personel Yönetimi", "PersonelListe", "Personel")
                                        </li>

                                    </ul>
                                </li>
                                <li class="parent">

                                    <a href="#">
                                        <i class="icon mdi mdi-card"></i>
                                        <span>@Resources.Home.urunyonetimi</span>
                                    </a>




                                    <ul class="sub-menu">

                                        <li>
                                            @Html.ActionLink(Resources.Home.urunekle, "UrunEkle", "Urun")

                                        </li>
                                        <li>
                                            @Html.ActionLink(Resources.Home.urunlistesi, "UrunListesi", "Urun")



                                        </li>
                                        <li>
                                            @Html.ActionLink(Resources.Home.kategori, "UrunKategori", "Urun")
                                        </li>


                                    </ul>
                                </li>

                                <li class="parent">
                                    <a href="#"><i class="icon mdi mdi-assignment-o"></i><span>@Resources.Home.tedarikciyonetimi</span></a>
                                    <ul class="sub-menu">
                                        <li>
                                            @Html.ActionLink(Resources.Home.tedarikciekle, "TedarikciKayit", "Tedarikci")



                                        </li>
                                        <li>
                                            @Html.ActionLink(Resources.Home.tedarikciyonetimi, "TedarikciListesi", "Tedarikci")

                                        </li>

                                    </ul>
                                </li>
                                <li class="parent">
                                    <a href="#"><i class="icon mdi mdi-account-add"></i><span>@Resources.Home.musteriyonetimi</span></a>
                                    <ul class="sub-menu">
                                        <li>
                                            @Html.ActionLink(Resources.Home.musteriekle, "MusteriKayit", "Musteri")

                                        </li>
                                        <li>
                                            @Html.ActionLink(Resources.Home.musteriyonetimi, "MusteriListesi", "Musteri")
                                        </li>
                                    </ul>
                                </li>
                                <li class="parent">

                                    <a href=@Url.Action(Resources.Home.sikayetoneri,"Oneriler" ,"OneriSikayet")><i class="icon mdi mdi-email-open"></i><span>@Resources.Home.sikayetoneri</span></a>

                                </li>
                            </ul>
                        </div>
                        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
                    </div>
                </div>

            </div>
        </div>

        <div class="be-content">

            @RenderBody()
        </div>
    </div>



    <script src="~/Areas/Admin/Content/assets/lib/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/assets/js/main.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/assets/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/assets/lib/jquery-flot/jquery.flot.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/assets/lib/jquery-flot/jquery.flot.pie.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/assets/lib/jquery-flot/jquery.flot.resize.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/assets/lib/jquery-flot/plugins/jquery.flot.orderBars.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/assets/lib/jquery-flot/plugins/curvedLines.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/assets/lib/jquery.sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/assets/lib/countup/countUp.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/assets/lib/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/assets/lib/jqvmap/jquery.vmap.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/assets/lib/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/assets/js/app-dashboard.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            //initialize the javascript
            App.init();
            App.dashboard();

        });
    </script>
    @RenderSection("Scripts", false)


    <div class="be-scroll-top"></div>
</body>
</html>