﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
            <!-- BEGIN NOTIFICATION DROPDOWN -->
            <!-- BEGIN USER LOGIN DROPDOWN -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <li class="dropdown dropdown-user">
                <a href="@Url.Action("Index","Manage")" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <img alt="" class="img-circle" src="../../Areas/Admin/assets/admin/layout2/img/avatar3_small.jpg" />
                    <span class="username username-hide-on-mobile">
                        @User.Identity.GetUserName()
                    </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-default">
                    <li>
                        <a href="extra_profile.html">
                            <i class="icon-user"></i> My Profile
                        </a>
                    </li>
                    <li>
                        <a href="page_calendar.html">
                            <i class="icon-calendar"></i> My Calendar
                        </a>
                    </li>
                    <li>
                        <a href="inbox.html">
                            <i class="icon-envelope-open"></i> My Inbox <span class="badge badge-danger">
                                3
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="page_todo.html">
                            <i class="icon-rocket"></i> My Tasks <span class="badge badge-success">
                                7
                            </span>
                        </a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <a href="extra_lock.html">
                            <i class="icon-lock"></i> Lock Screen
                        </a>
                    </li>
                    <li>
                        @using (Html.BeginForm("LogOff", "AdminGiris", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()">
                                <i class="icon-key"></i> Log Out
                            </a>
                        }
                    </li>
                </ul>
            </li>
            <!-- END USER LOGIN DROPDOWN -->
        </ul>
    </div>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "AdminGirs", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Log in", "Login", "AdminGiris", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}


@*    using (Html.BeginForm("LogOff", "AdminGiris", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }*@