﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/Content/assets/img/logo-fav.png">
    <title>Market Öneri/Şikayet Sistemi</title>
    <link rel="stylesheet" type="text/css" href="~/Content/assets/lib/perfect-scrollbar/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/assets/lib/material-design-icons/css/material-design-iconic-font.min.css" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/lib/jquery.vectormap/jquery-jvectormap-1.2.2.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/assets/lib/jqvmap/jqvmap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/assets/lib/datetimepicker/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/style.css" type="text/css" />




</head>
<body>
    <div class="be-wrapper be-fixed-sidebar">
        <nav class="navbar navbar-default navbar-fixed-top be-top-header">
            <div class="container-fluid">
                <div class="navbar-header"><a href="#"><img src="~/Content/assets/img/logoo.png" /></a> </div>
                <div class="be-right-navbar">


                    <ul class="nav navbar-nav navbar-right be-user-nav">
                        @Html.Partial("_LoginPartial")


                    </ul>
                    <div class="page-title" style="font-size: 23px"><span><b>@Resources.Home.hosgeldinizMusteri</b></span></div>

                    
                        @Html.ActionLink("TR", "Index", new { lang = "tr" ,@class="btn btn-primary" })
                    <img src="~/Content/assets/img/turkiye.png" width="35" height="30" style="margin-top: 15px">
                        @Html.ActionLink("EN", "Index", new { lang = "en" , @class = "btn btn-primary" })
                   
                    <img src="~/Content/assets/img/ingiltere.png" width="35" height="30" style="margin-top: 15px">

                 





                    <ul class="nav navbar-nav navbar-right be-icons-nav" style="margin-top: 11px; margin-right: 10px;">

                       
                          


                        <div class="row">
                            <div class="col-xs-3"><a href="https://www.facebook.com/" class="connection-item"><img src="~/Content/assets/img/facebook.png" alt="Github"></a></div>
                            <div class="col-xs-3"><a href="https://twitter.com/?lang=tr" class="connection-item"><img src="~/Content/assets/img/twitter.jpg" alt="Bitbucket"></a></div>
                            <div class="col-xs-3"><a href="https://www.dropbox.com" class="connection-item"><img src="~/Content/assets/img/dropbox.png" alt="Dropbox"></a></div>
                        </div>

                    </ul>


                </div>
            </div>
        </nav>
        <div class="be-left-sidebar">
            <div class="left-sidebar-wrapper">
                <a href="#" class="left-sidebar-toggle">@Resources.Home.anasayfa</a>
                <div class="left-sidebar-spacer">
                    <div class="left-sidebar-scroll">
                        <div class="left-sidebar-content">
                            <ul class="sidebar-elements">
                                <li class="divider">Menu</li>

                                <li class="parent">
                                    <a href="@Url.Action("Index","Home")"><i class="icon mdi mdi-email-open"></i><span>@Resources.Home.sikayetoneri</span></a>

                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="be-content">
            <div class="main-content container-fluid">


                @RenderBody()

            </div>
        </div>
    </div>
   


    <script src="~/Content/~/Content/assets/lib/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/~/Content/assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/~/Content/assets/js/main.js" type="text/javascript"></script>
    <script src="~/Content/~/Content/assets/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/~/Content/assets/lib/jquery-flot/jquery.flot.js" type="text/javascript"></script>
    <script src="~/Content/~/Content/assets/lib/jquery-flot/jquery.flot.pie.js" type="text/javascript"></script>
    <script src="~/Content/~/Content/assets/lib/jquery-flot/jquery.flot.resize.js" type="text/javascript"></script>
    <script src="~/Content/~/Content/assets/lib/jquery-flot/plugins/jquery.flot.orderBars.js" type="text/javascript"></script>
    <script src="~/Content/~/Content/assets/lib/jquery-flot/plugins/curvedLines.js" type="text/javascript"></script>
    <script src="~/Content/~/Content/assets/lib/jquery.sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="~/Content/~/Content/assets/lib/countup/countUp.min.js" type="text/javascript"></script>
    <script src="~/Content/~/Content/assets/lib/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/Content/~/Content/assets/lib/jqvmap/jquery.vmap.min.js" type="text/javascript"></script>
    <script src="~/Content/~/Content/assets/lib/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
    <script src="~/Content/~/Content/assets/js/app-dashboard.js" type="text/javascript"></script>

    <script type="text/javascript">
      $(document).ready(function(){
      	//initialize the javascript
      	App.init();
      	App.dashboard();

      });
    </script>

    @RenderSection("Scripts", false)




</body>
</html>