﻿@model StokSistemiProje.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Hesap Ayarları";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Şifre Değiştirme Ayarları</h4>
    <hr />
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
     @*   @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" }) *@
        <label class = "col-md-2 control-label">Eski Şifreniz :</label>
        <div class="col-md-4">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
     @*   @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })*@
        <label class = "col-md-2 control-label">Yeni Şifreniz :</label>

        <div class="col-md-4">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
       @* @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
        <label class = "col-md-2 control-label">Yeni Şifreniz :</label>

        <div class="col-md-4">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-4">
            <input type="submit" value="Şifreyi Değiştir" class="btn btn-success" style="float:right" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}