﻿@using StokSistemiProje.Models
@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/Content/assets/img/logo-fav.png">
    <title>Kullanıcı Giriş Sayfası - Hoşgeldiniz !</title>
    <link rel="stylesheet" type="text/css" href="~/Content/assets/lib/perfect-scrollbar/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/assets/lib/material-design-icons/css/material-design-iconic-font.min.css" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="~/Content/assets/css/style.css" type="text/css" />
</head>
<body>
<div class="row">
    <br /><br /><br /><br /><br /><br />
    <img src="~/Content/assets/img/inventory.png" alt="logo" width="220" height="80" class="logo-img" style="margin-left:700px"><span class="splash-description"></span>

    <div class="col-md-9" style="float:right">
        <br />
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                 <label class = "col-md-2 control-label" style="font-size: 15px">@*Kullanıcı Adı/Email :*@</label> 
                    <div class="col-md-5">
                       
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control  ", placeholder = Resources.Home.kullaniciadi })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                      
                    </div>
                </div>
                <div class="form-group">
                   <label class="col-md-2 control-label" style="font-size: 15px">@*Şifre :*@</label> 
                    <div class="col-md-5" >
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control ", placeholder = Resources.Home.sifre })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" }) 
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-5">
                        <div class="checkbox" style="margin-left: 22px;">
                            @Html.CheckBoxFor(m => m.RememberMe )
                            <label style="margin-left: -10px; font-size: 14px">@Resources.Home.beniHatirla</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-6" >
                        <input type="submit" value=@Resources.Home.giris style="width: 140px; height:40px; margin-left: 220px; font-size: 15px;" class="btn btn-primary" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-5">
                        
                        <a class="btn btn-success " href="@Url.Action("Register", "Account")"  style="width: 140px; height:40px; margin-top: -110px; font-size: 15px;  padding: 5px 20px;   margin-left: 150px;" >@Resources.Home.kayitol</a>
                    </div>
                </div>

             
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
   
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


</body>
</html>