﻿@model StokSistemiProje.Models.Mesajlar
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row" style="margin-left: 145px">
    <div class="col-md-8">
        <div class="panel panel-default panel-border-color panel-border-color-primary">
            <div class="panel-heading panel-heading-divider" style="font-size: 22px;"><b>@Resources.Home.onerisikatetebulun</b></div>
            <div class="panel-body">

                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal group-border-dashed" }))
                {
                    @*  <form action="#" class="form-horizontal group-border-dashed" novalidate=""> *@
                  @*  <input type="text" class="form-control" placeholder=@Resources.Home.konubaslik>*@
                        @Html.TextBoxFor(m=> m.Konu, new {@class="form-control", placeholder = Resources.Home.konubaslik})
                        <br>
                    @* <textarea class="form-control"></textarea> *@
                        @Html.TextBoxFor(m => m.Mesaj, new { @class = "form-control" })

                        <div class="form-group">
                            <div class="col-sm-2 col-sm-10 ">
                                <button type="submit" class="btn btn-space btn-primary kaydet" style="font-size: 16px">@Resources.Home.gonder</button>
                            </div>
                        </div>

                    }
                </div>

            </div>
        </div>
    </div>
